{% extends "base.html" %}
{% block content %}
    {% csrf_token %}
    <style>
        body {
            margin-top: 30px;
        }
    </style>
    <body>
    <div class="container">
        <div>
            <a href="{% url 'logout' %}" class="float-right btn btn-outline-danger mt-1">Log out</a>
            <button class="float-right btn btn-outline-primary mt-1" style="margin-right: 5px;" disabled>Welcome, {{ user.username }}</button>
        </div>
        <h1>Tasks Lists</h1>
        <h6 style="text-align: left">{% now "D, d M Y H:i" %}</h6>
        <form action="{% url 'task:search' %}" method="get">
            <button class="float-right btn btn-primary mt-2" type="submit">Search</button>
            <input class="float-right form-control mt-2 mr-sm-2" style="width: 200px;" name="search" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div>
            <a href="{% url 'task:create' %}" class="btn btn-success">Add</a>
            <a href="{% url 'task:to_csv' %}" class="btn btn-success">Save to CSV</a>
        </div>

        <br>
        <div id='msg'>
            {% if messages %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <table class="table table-bordered table-striped sortable">
            <thead>
            <tr>
                <th width="5%" style="text-align: center;">No.</th>
                <th width="20%" style="text-align: center;">Title</th>
                <th width="20%" style="text-align: center;">Description</th>
                <th width="20%" style="text-align: center;">Due Date</th>
                <th width="20%" style="text-align: center;">Created at</th>
                <th width="15%" style="text-align: center;">Action?</th>
            </tr>
            </thead>
            <tbody>
            {% if Tasks %}
                {% for task in Tasks %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'task:detail' task.id %}">
                                {{ task.title }}
                            </a>
                            {% if task.status == 'todo' %}
                                <span class="badge badge-primary"><a href="search/?search={{ task.status }}" style="color: white;">{{ task.status }}</a></span>
                            {% elif task.status == 'in_progress' %}
                                <span class="badge badge-success"><a href="search/?search={{ task.status }}" style="color: white;">{{ task.status }}</a></span>
                            {% elif task.status == 'canceled' %}
                                <span class="badge badge-danger"><a href="search/?search={{ task.status }}" style="color: white;">{{ task.status }}</a></span>
                            {% elif task.status == 'closed' %}
                                <span class="badge badge-secondary"><a href="search/?search={{ task.status }}" style="color: white;">{{ task.status }}</a></span>
                            {% endif %}
                        </td>
                        {% if task.description|length > 50 %}
                            <td>
                                <p style="max-width: 100%; max-height: 21px; overflow-y: hidden; text-overflow: ellipsis;">
                                    {{ task.description }}
                                </p>
                                <a href="{% url 'task:detail' task.id %}">
                                    Read More...
                                </a>
                            </td>
                        {% else %}
                            <td>{{ task.description }}</td>
                        {% endif %}
                        {% if task.due_date is None %}
                            <td> - </td>
                        {% else %}
                            {% if task.status != 'closed' %}
                                <td>{{ task.due_date|date:"D, d M Y H:i" }}
                                    {% if task.due_date|date:"D, d M Y H:i" >= now|date:"D, d M Y H:i" %}
                                        <span class="badge badge-danger">Overdue</span>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>{{ task.due_date|date:"D, d M Y H:i" }}
                                    {% if task.due_date|date:"D, d M Y H:i" >= now|date:"D, d M Y H:i" %}
                                        <span class="badge badge-success">Finished</span>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endif %}
                        <td>{{ task.created_at|date:"D, d M Y H:i" }}</td>
                        <td>
                            <a href="{% url 'task:edit' task.id %}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{% url 'task:delete' task.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Couldn't found data.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <script>
        $("#msg").show().delay(2000).fadeOut();
    </script>
    </body>
{% endblock %}